#photos {
  /* Prevent vertical gaps */
  @extend %container;
  padding-top: 50px;
  line-height: 3;

  -webkit-column-count: 4;
  -webkit-column-gap:   20px;
  -moz-column-count:    4;
  -moz-column-gap:      20px;
  column-count:         4;
  column-gap:           20px;

  }

#photos img {
  /* Just in case there are inline attributes */
  min-width: 100% !important;
  height: auto !important;
}