@media all and (max-width: 480px){
  .hero{ float: none;}
    
  body
    {
      display: block;    
    }
	}

@media all and (max-width: 800px){
  .hero{ float: none;}
    
  .grid
    {
      display: block;    
    }
	}